In [149]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
import csv
%matplotlib inline
%cd Resources
file_to_output = Path("..\Report.txt")

[WinError 2] The system cannot find the file specified: 'Resources'
C:\Users\ngond\python-homework\PyBank\Resources

In [140]:
#read data into panda data frame
budget=pd.read_csv('budget_data.csv')

In [141]:
#create the month column in the dataframe
budget['Month']=budget['Date'].str.slice(0,3,1)

In [142]:
#find the total month count
TotalMonths=budget['Month'].value_counts().sum()

In [143]:
#find the sum of net profit/loss
NetProfitLoss=budget['Profit/Losses'].sum()

In [144]:
#set Date as index
budget.set_index(pd.to_datetime(budget['Date'],infer_datetime_format=True),inplace=True)
budget
#avgChange=budget['Profit/Losses'].mean()
#print(f'the average change: ${avgChange}')

                Date  Profit/Losses Month
Date
2010-01-01  Jan-2010         867884   Jan
2010-02-01  Feb-2010         984655   Feb
2010-03-01  Mar-2010         322013   Mar
2010-04-01  Apr-2010         -69417   Apr
2010-05-01  May-2010         310503   May
...              ...            ...   ...
2016-10-01  Oct-2016         102685   Oct
2016-11-01  Nov-2016         795914   Nov
2016-12-01  Dec-2016          60988   Dec
2017-01-01  Jan-2017         138230   Jan
2017-02-01  Feb-2017         671099   Feb

[86 rows x 3 columns]

In [145]:
#find the values necessary for report
budget['diff']=budget['Profit/Losses']-budget['Profit/Losses'].shift(1)
avgChange=round(budget['diff'].mean(),2)
maxProfits=budget['diff'].max()
maxDate= budget['Date'].loc[budget['diff']==maxProfits]
maxDate=maxDate.to_frame()['Date'].values[0]
minProfits=budget['diff'].min()
minDate=budget['Date'].loc[budget['diff']==minProfits]
minDate=minDate.to_frame()['Date'].values[0]

In [146]:
#test prints in report
print('Financial Analysis\n-----------------\n')
print(f'Average  Change: ${avgChange}')
print(f'Greatest Increase in Profits: {maxDate} (${maxProfits})')
print(f'Greatest Increase in Profits: {minDate} (${minProfits})')

Financial Analysis
-----------------

Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Increase in Profits: Sep-2013 ($-2196167.0)

In [151]:
#Write data to text file
with open(file_to_output,'w') as txt_file:
    txt_file.write(f'Financial Analysis\n-----------------\n')
    txt_file.write(f'the total number of months :{TotalMonths}\n')
    txt_file.write(f'the net total amount of Profit/Losses over the entire period is ${NetProfitLoss}')
    txt_file.write(f'Average  Change: ${avgChange}\n')
    txt_file.write(f'Greatest Increase in Profits: {maxDate} (${maxProfits})\n')
    txt_file.write(f'Greatest Increase in Profits: {minDate} (${minProfits})\n')